* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111827;
  color: white;
}
nav img {
  display: none;
}
.list {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 20px;
}

.home {
  padding: 5px 10px;
  background: rgb(100, 100, 224);
  border-radius: 15px;
}
.list-item {
  font-size: 20px;
  font-weight: 400;
}
.header-line {
  max-width: 100vw;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hand-image {
  width: 45px;
}

.line1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
}
.line2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line2 h1 {
  font-size: 60px;
}
.line2 h2 {
  font-size: 35px;
  color: rgb(197, 197, 89);
}
.pc-image img {
  width: 30vw;
}
.info {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info h1 {
  font-size: 40px;
}

.horizontal-divider {
  height: 10px;
  width: 135px;
  background-color: blue;
  border-radius: 20px;
  margin-bottom: 20px;
}
.project img {
  width: 20vw;
}

.project {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project_list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 50px;
}
.contact h1 {
  font-size: 40px;
}

.horizontal-divider-contact {
  height: 10px;
  width: 200px;
  background-color: blue;
  border-radius: 20px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo img {
  width: 30px;
}

@media screen and (max-width: 576px) {
  .list {
    display: none;
  }
  nav img {
    display: block;
    width: 20px;
    margin: 20px;
  }
  .header-line {
    flex-direction: column;
  }
  .line1 {
    flex-direction: column;
    font-size: 20px;
  }
  .line2 {
    align-items: center;
  }
  .project_list {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .line2 h1 {
    font-size: 40px;
  }
  .line2 h2 {
    font-size: 25px;
  }
  .pc-image img {
    width: 60vw;
  }
  .project img {
    width: 55vw;
  }
}
